<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Shelfie</title>

</head>
<body>
    

 <nav class="nav mb-2">
        <a class="nav-link active link-color font" aria-current="page" href="/">Home</a>
        <a class="nav-link link-color font" href="/page-one">My Collections</a>
        <a class="nav-link link-color font" href="/search">Search Books</a>
        {{#if loggedIn}}
        <a class="nav-link link-color font" href="#">Logout</a>
        {{else}}
        <a class="nav-link link-color font" href="/login">Login</a>
        {{/if}}
        
      </nav>




  <!-- Skip Link -->

    <a href="#main-content" class="skip-link">Skip to main content</a>
     <!--back to top button-->
     <a href="#top" class="back-to-top">Back to Top</a>
          <!-- Read Aloud Button -->
          <button id="read-aloud" class="readbtn">Read Aloud</button>
          <!--focus Button -->
          <button id="focus-button" class="focusbtn">Focus Input</button>
<!-- Example input field to focus -->
  <input type="text" id="myInput" class="fwclicked" placeholder="Focus me when button is clicked">


      <main class="container">

        {{{body}}}
        
      </main>

      <footer class="footer">
        <h6 clas="font mt-3 opacity-25"> © 2024 Copyright: All Rights Reserved by Shelfie</h6>
      </footer>
  
      {{#if loggedIn}} 
        <script src="/js/logout.js"></script>
      {{/if}} 






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="./public/js/accessibilty.js"></script>
</body>
</body>
</html>
