<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Project name }}
    <title>Shelfie</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <!-- Skip Link -->
    <a href="#main-content" class="skip-link">Skip to main content</a>

    {{! Navbar }}
    <nav id="nav" role="navigation" aria-label="Main Navigation">
      <ul>
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="/pageOne">Page One</a></li>
        {{#if loggedIn}}
          <li><a href="#" id="logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>

    {{! Header }}
    <header id="header" role="banner">
      <h1>Shelfie</h1>
    </header>

    {{! Content }}
    <main id="main-content" role="main">
      {{!-- Depending on which route your user is visiting, the {{{body}}} will be replaced with the respective Handlebars template located in the /views/ directory --}}
      {{{body}}}
    </main>

    {{! Footer }}
    <footer id="footer" role="contentinfo">
      <h1>© 2024 Copyright: All Rights Reserved by Shelfie</h1>
    </footer>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>
