<div class="row">
  <div class="col-6 left-col">
    <img
      src="/Users/heatherellenstrain/bootcamp/class/week8_aug5/Shelfie/public/images/Shelfie Logo Teal.png"
      alt="shelf image"
    />

  </div>
  <div class="col-6 right-col">
    <h1 class="font title">Shelfie</h1>
  </div>

</div>

<script src="/js/newData.js"></script>