<div class="row">
  <div class="col-6 left-col">
    <img
      src="file:///Users/amandabrill/Desktop/Screenshot%202024-08-09%20at%203.49.03%E2%80%AFPM.png"
      alt="shelf image"
    />

  </div>
  <div class="col-6 right-col">
    <h1 class="font title">Shelfie</h1>
  </div>

</div>

<script src="/js/newData.js"></script>