<div>
  <div>
    <h2 id="signup-heading">Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel" aria-labelledby="signup-heading">
    <form id="signup-form" aria-describedby="signup-instructions" novalidate>
      <p id="signup-instructions">All fields are required.</p>
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" name="username" aria-required="true" />
      </div>
      <div>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" name="password" aria-required="true" />
      </div>
      <button type="submit" id="signup-btn" aria-label="Sign up">Signup!</button>
      <a href="/login" aria-label="Go to login page">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
