/* any css stylesheets can go in this folder */
/* hint- remember to import them in your handlebars! */
:root {
  --teal: rgb(1, 137, 137);
}

.font {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  background-color: white;
}

.link-color {
  color: var(--teal);
}

.footer {
  color: var(--teal);
  display: flex;
  justify-content: center;
  font-size: 5px;
}

.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--teal);
  font-size: 100px;
}

.left-col {
  display: flex;
  justify-content: flex-start;
}

img {
  width: 98%;
  height: 98%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}
